{% extends 'music/base.html' %}

{% block body %}
    <img src ="{{album.album_logo}}" width="120" height="100">

    <h1>{{ album.album_title }}</h1>
    <h3> {{album.artist}} </h3>

    {% if error_message %}
    <p><strong> {{ error_message }}</strong> </p>
    {% endif %}
    <form action="{% url 'music:detail' album.id %}" method="post">
        {% csrf_token %}
        {% for song in album.song_set.all %}
            <input type = "radio" id = "song{{ forloop.counter }}" name = "song" value =" {{song.id}}"/>
            <label for = "song{{ forloop.counter }}" >
                {{ song.song_title }}
                {% if song.is_favorite %}
                    <img src = "https://cdn.icon-icons.com/icons2/81/PNG/256/star_favourite_15499.png" width="12" height="12" />
                {% endif %}
            </label><br>
        {% endfor %}
        <input type = "submit" value="Favorite">

    </form>
{% endblock %}